<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('common/nav')%>
    <br><br>
     
    <center class="text-white">
        <h1>About</h1><br><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed facere iusto necessitatibus aperiam quod? Expedita quam, minus voluptate qui velit pariatur. Doloremque minima dolores repudiandae reiciendis nesciunt odio illum corporis! Nemo, nobis doloremque ex quis magni labore explicabo. Veniam, inventore vitae. Recusandae, nihil minima, illum autem in eum accusamus nemo dignissimos modi mollitia optio veniam porro suscipit quae. Non, asperiores velit? Incidunt, qui veniam, voluptatem beatae commodi delectus itaque dolorum alias officia odio eius excepturi ipsum cupiditate esse omnis illum laboriosam asperiores consequatur cumque. Quam quibusdam molestiae architecto dolorem ratione tempore quisquam harum nemo eligendi? Sequi facilis, ut dolor eligendi odio amet perferendis? Alias, sed. Incidunt, corporis? Dolorem tenetur voluptas recusandae voluptatibus aliquid, aut accusamus voluptatem quae totam eveniet ut unde minus magnam eum asperiores vero, fugiat perspiciatis rem veniam culpa dolor dignissimos explicabo. Consequatur ea molestias magnam fuga quod sapiente officiis voluptates ipsum fugit provident beatae dicta totam molestiae ullam recusandae est nostrum modi ab assumenda, facilis iusto quaerat laudantium similique eum. Cupiditate blanditiis eveniet alias eaque nihil minima facilis, id, reprehenderit asperiores perferendis, aut saepe in earum? Totam deleniti ab corporis a iure ex officia beatae nam, placeat quod quidem aliquam minima eum repellendus odit dolorem. Vel, exercitationem!</p><br><br><br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nulla tempora eveniet cupiditate, vitae exercitationem cum laudantium, rerum saepe similique est hic sunt, totam inventore itaque deleniti possimus nihil dolorem! Provident, libero repellat? Est a consequuntur vero illum velit asperiores ex neque ratione sunt, distinctio, ea provident? Hic, iure tempora expedita sit illo temporibus recusandae dolor laboriosam ea, magnam placeat, deserunt sed nihil dolorum cupiditate fuga voluptatum. Temporibus expedita nisi possimus velit asperiores veniam aliquid. Possimus placeat molestiae blanditiis ducimus asperiores facilis eum, dicta exercitationem nemo quae alias quisquam commodi nesciunt necessitatibus aspernatur deleniti ullam eius, dolores tempore. Cumque, laborum?</p>
    </center>

</body>
</html>