<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('common/nav')%> <br><br>
       <center>
        <h1>Contact</h1><br><br><br>

        <form action="/record_registartion" method="post">

            Enter Your Name<input type="text" name="nm" required><br><br><br>
            Enter Your Mobile<input type="number" name="mob" required><br><br><br>
            Enter Your Stream<input type="text" name="st" required><br><br><br>
            Enter Your message<textarea name="mess" required></textarea><br><br><br>
            <button>Submit</button>
        </form>

        <% if(locals.message)
        {%>
            <h2><%-message%></h2>
        <%}%>

       </center>

    
        
    

</body>
</html>