<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/new.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

</head>
<body>
    <%- include('common/nav')%> <br><br>
    <div id="hero">
        <h1>Welocome to my website</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto eos numquam veritatis. Suscipit consequatur sint fuga dolores vel beatae expedita iste odit perspiciatis dicta eius laudantium eum porro aliquam molestiae quis facere nisi doloribus eos impedit provident voluptate, ea reiciendis. Et recusandae provident, ullam fuga, magnam laboriosam cumque ratione nulla, quam tempora dolor asperiores quae quas alias earum eum hic neque! Animi aliquam nostrum reprehenderit, unde pariatur ad error molestias fugit, in dolores esse? Fugiat id dicta eaque. Incidunt aliquam dignissimos totam ut blanditiis sapiente harum quidem. Blanditiis, quisquam. Voluptatibus fugiat optio recusandae consequatur quisquam delectus distinctio qui excepturi enim tempora, officiis modi commodi error nemo quia tempore deleniti blanditiis, atque voluptas. Deserunt, animi saepe veritatis architecto distinctio labore consequuntur repellat officia rerum, blanditiis nobis hic qui repudiandae, expedita cum quam officiis et similique sequi magni eveniet non quos. Facilis, quaerat sed sequi accusamus magnam quibusdam nulla assumenda consequuntur optio laboriosam sunt, repudiandae eveniet blanditiis alias amet enim aliquam labore nemo voluptates perspiciatis aspernatur dignissimos, culpa quod voluptate. Tempore voluptatem officiis aspernatur dolorum magnam odit ipsum nesciunt, molestiae culpa qui doloribus quod eos atque iste veniam enim placeat explicabo, voluptatum et. Quae repudiandae repellat similique soluta quam possimus doloremque sit.</p>
    </div>
    <div class="divimg">

        <!-- <div><img src="/static/images/hd.jpg" alt="img-1"></div>
        <div><img src="/static/images/hd.jpg" alt="img-2"></div>
        <div><img src="/static/images/hd.jpg" alt="img-2"></div> -->
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
    </div>
    <div>
        
    </div>
        








    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>